.friends-modal {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 500px;
    max-width: 80%;

    height: 500px;
    max-height: 80%;

    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;

    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
  }

  .friends-modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .friends-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 15px;
    border-bottom: 1px solid grey;
  }

  .friends-modal-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .friends-modal-body {
    padding: 10px 15px;

    overflow: auto;

    //background-color: rebeccapurple;

    height: 85%;
  }

  .modal-close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, .5);
    opacity: 0;

    pointer-events: none;
    transition: 200ms ease-in-out;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
