
.margin-parent-horizontal-px-5 > * {
  margin : 0px 5px;
}

.margin-parent-1 > * {
  margin : 0.25rem !important;
}

.margin-parent-2 > * {
  margin : 0.5rem !important;
}

.margin-parent-3 > * {
  margin : 1rem !important;
}

.margin-parent-4 > * {
  margin : 1.5rem !important;
}
