<div class="container mt-5">
  <div class="row" style="margin-bottom: 15px">
    <div class="col-sm-6">
      <div class="d-flex" >
        <input
          type="file"
          class="form-control"
          #file
          placeholder="Choose file"
          (change)="onUploadImageChange($event)"
        />
        <button type="button" class="btn btn-success" (click)="file.click()">
          +
        </button>
      </div>





    </div>


    <div class="col-sm-6">
      <button type="button" class="btn btn-success mb-3" (click)="uploadFile(file.files)">
        Upload File
      </button>
      <br>
      <input [(ngModel)]="sharingText" type="text" class="form-control" placeholder="About your sharing" >
      <br>
      <img [src]="imagePreviewSource" width="200px" height="200px" />
      <br>
      <span class="upload" *ngIf="progress > 0 " >Progress:  {{ progress }}% </span>
      <span class="upload" *ngIf="message">
        {{ message }}
      </span>
    </div>

  </div>
</div>
