

<div class="container mt-2" >
<div class="row" >
  <div class="col-sm-7" >



    <ng-container *ngIf="sharingList.length == 0" >
      <div class="fs-5" style="font-weight: bold; height: 400px;" >
        There is no sharing for your main page.
        You can add new friends to see their sharings at your main page.
      </div>
    </ng-container>

    <div *ngFor="let sharing of sharingList; let i = index" class="card mt-2" style="width: 100%; ">
      <div class="card-body">
        <h5 class="card-title">
          <img
          class="dropdown-toggle"
          id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
          width="40px" height="40px" [src]="processProfileImage(sharing.user?.profilePicture)"
          style="border-radius: 50%;" >
          <span class="text-capitalize ms-2 cursor-pointer" [routerLink]="'/'+ sharing.user?.userName" >
            {{processProfileDisplayName(sharing.user?.userName, sharing.user?.displayName)}}
          </span>
        </h5>
        <p class="card-text">
          {{sharing.sharingText}}
        </p>
      </div>
      <img [src]="'https://localhost:44356/Images/'+sharing.path" height="600px" class="card-img-bottom" alt="...">
      <div class="mt-4 mb-4 w-100 d-flex justify-content-center" >
        <!-- <button class="btn btn-primary w-75" (click)="sharing.showComment = !sharing.showComment;" > -->
        <button class="btn btn-primary w-75" (click)="toggleComments(sharing)" >
          <ng-container *ngIf="!sharing.showComment" >Show comments</ng-container>
          <ng-container *ngIf="sharing.showComment" >Hide comments</ng-container>
        </button>
      </div>
      <div *ngIf="sharing.showComment" class="mt-0 ms-2">
        <ng-container>
          <div *ngFor="let comment of sharing.comments" >
            <span style="font-weight: bold;" >{{processProfileDisplayName(comment.user.userName, comment.user.displayName)}}</span>
            :
            {{comment.commentText}}
          </div>

        </ng-container>


        <hr>
        <form [formGroup]="commentForm" (ngSubmit)="commentToSharing(sharing)" >
          <input type="text" class="form-control w-75 mx-auto mb-3"
            placeholder="comment" formControlName="comment" >
        </form>
      </div>
    </div>









<!--
    <div *ngFor="let sharing of sharingList" class="card mt-2" style="width: 100%; ">
      <div class="card-body">
        <h5 class="card-title">
          <img
          class="dropdown-toggle"
          id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
          width="40px" height="40px" src="assets/images/legolas1.jpg" style="border-radius: 50%;" >
          Legolas
        </h5>
        <p class="card-text">
          {{sharing.sharingText}}
        </p>
      </div>
      <img [src]="'https://localhost:44330/Images/'+sharing.path" height="600px" class="card-img-bottom" alt="...">
      <p class="card-text mt-3 ms-2">
        Aragorn : Great <br>
        Frodo : 😎😎  <br>
        Sauron : Lame 2   <br>
      </p>
    </div> -->









  </div>

  <div class="col-sm-5 bg-light"  >
    <div class="row sticky-top" >
      <div class="col-sm-12" >

        <div class="bg-transparent " >
          <h6 class="mb-2 mt-2" >
            Suggestions for Follow
          </h6>

          <div class="row d-flex align-items-center mb-1" *ngFor="let friendSuggestion of friendSuggestionList" >
            <div class="col-sm-2">
              <img
              class="dropdown-toggle"
              aria-expanded="false"
              width="40px"
              height="40px"
              [src]="processProfileImage(friendSuggestion.profilePicture)"
              style="border-radius: 50%"
              />
            </div>
            <div class="col-sm-6 cursor-pointer" [routerLink]="'/'+friendSuggestion.userName" >
              {{friendSuggestion.displayName}} (@{{friendSuggestion.userName}})
            </div>
            <div class="col-sm-4">
              <button [routerLink]="'/'+friendSuggestion.userName" class="btn btn-primary ms-2" >Go to Profile</button>
            </div>

          </div>



          <!-- <div class="p-2 " >
            <img
            class="dropdown-toggle"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            width="40px"
            height="40px"
            src="assets/images/legolas1.jpg"
            style="border-radius: 50%"
            />
            <span class="ms-2" >Sauron</span> <button class="btn btn-primary ms-2" >Go to Profile</button>
          </div>

          <div class="p-2" >
            Legolas <button class="btn btn-primary ms-2" >Go to Profile</button>
          </div> -->





        </div>
      </div>


    </div>




  </div>




</div>
</div>









